*{
    padding: 0;
    margin: 0;
}

/* ********************************************Header********************************************* */

#header{
    font-family: 'Montserrat-black, sans-serif';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/* ********************************************Main********************************************* */

#main .box{
    box-shadow: 0 3px 3px 3px hsl(245, 75%, 52%, 0.25);
    margin: 50px 50px;
    text-align: center;
}

#main .img-logo{
    width: 50%;
    height: 100px;
}

#main .img-right{
    max-width: 150%;
    width: 150%;
    height: 100%; 
    margin: 0 auto;
    border-radius: 0px 5px 5px 0px;
}

/* ********************************************FOOTER********************************************* */

#footer{
    text-align: center;
}

footer .logo-social-media{
    margin: 10px 10px;
    width:25px;
    height:25px;
}

footer .logo-social-media:hover{
    transform: rotate(360deg) scale(130%);
    transition: 1s;
}


@media screen and (max-width:900px) {


    #main .img-logo{
        display: none
    }
    
    #main .img-right{
        display: none;
    }
    
  
  }

